/* fonts */
h1 {
	font-family: "Avenir", sans-serif;
	color: "black";
	text-align: center;
}

h1.nopad {
	display: inline-block;
}

h2 {
	font-family: "Gelasio", serif;
	color: "black";
	text-align: center;
}

h2.left {
	font-family: "", serif;
	color: "black";
	text-align: left;
}

h3 {
	font-family: "Avenir", sans-serif;
	color: "black";
	text-align: center;
	font-size: 150%;
}

h4 {
	font-family: "Avenir", sans-serif;
	color: "black";
	text-align: center;
	font-size: 120%;
}

p {
	font-family: "Avenir", sans-serif;
	color: "black";
	text-align: left;
}

a {
	text-decoration: none;
	color: #000000;
	-webkit-transition: color 0.5s ease;
}

a.par {
	text-decoration: underline;
	color: #000000;
	-webkit-transition: color 0.5s ease;
}

a:hover {
	color: #3F005F;
}


/* wrappers */
body {
	margin: 0 auto;
	width: 100%;
	padding: 0px;
	padding-bottom: 50px;
}

header {
	padding:2em;
	z-index:2;
	width: 80%;
	min-height: 80px;
	margin: 0 auto;
	display: table;
	box-sizing: border-box;
}

.home {
	width: 10%;
	text-align: left;
}

.navbar {
	width: 14.3%;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

.navbar_wrapper {
	width: 30%;
	display: table-cell;
	vertical-align: middle;
	text-align: right;
}

.navbar2 {
	width: 1%;
	display: table-cell;
	vertical-align: middle;
}

/* divs */


.banner_wrapper {
	margin: 0 auto;
	width: 80%;
	text-align:center;
	margin-bottom: 80px;
}

.banner_pic {
	min-width: 400px;
	width: 60%;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	margin: 0 auto;
}

#banner_text {
	width: 30%;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

.highlight_wrapper {
	margin: 0 auto;
	width: 80%;
	text-align:center;
	margin-bottom: 50px;
	margin-top: 50px;
}

.highlight_pic {
	min-width: 300px;
	width: 50%;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

.highlight_text {
	width: 50%;
	display: table-cell;
	padding-top: 3%
}

.timeline_wrapper {
	margin: 0 auto;
	width: 50%;
	text-align: center;
	margin-bottom: 80px;
}

.timeline_block {
	min-width: 250px;
	width: 50%;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	margin: 0 auto;
}

.coach_wrapper {
	margin: 0 auto;
	width: 60%;
	text-align: center;
	margin-bottom: 50px;
}

.coach_testimonial {
	text-align: center;
	display: table-cell;
	vertical-align: middle;
	width: 50%;
}

.coach_pic {
	width: 20%;
	min-width: 250px;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

.offer_wrapper {
	margin: 0 auto;
	width: 50%;
	margin-bottom: 50px;
}

.offer_pic {
	min-width: 250px;
	width: 45%;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	margin: 0 auto;
	margin-bottom: 50px;
}

.coach_text {
	text-align: center;
	width: 60%;
	margin: 0 auto;
	margin-bottom: 50px;
}

.work_block {
	width: 100%;
	float: left;
	margin-top: 50px;
}

.work_text {
	text-align: center;
	margin-top: 50px;
	margin: 0 auto;
	width: 60%;
}

.getintouch_wrapper {
	margin: 0 auto;
	width: 50%;
	text-align: center;
	margin-top: 50px;
	font-family: "Avenir", sans-serif;
	color: "black";
}

.contact_wrapper {
	margin: 0 auto;
	width: 50%;
	text-align: center;
}

.work_wrapper {
	margin: 0 auto;
	width: 80%;
	text-align: center;
}

#work_pic {
	margin-top: 50px;
	text-align: center;
}

.work_block {
	width: 100%;
	float: left;
	margin-top: 50px;
}

.work_text {
	text-align: center;
	margin-top: 50px;
	margin: 0 auto;
	width: 60%;
}

.work3 {
	width: 31.33%;
	margin: 1%;
	float: left;
	min-width: 250px;
}

.partner_block {
	padding-top: 50px;
	display: table;
	box-sizing: border-box;
	vertical-align: middle;
	text-align: center;
	margin: 0 auto;
	margin-bottom: 50px;
}

.partner_icon {
	height: 80px;
	display: table-cell;
	padding: 0.75em;
	margin: 0 auto;
}

.featured_block {
	width: 50%;
	display: table;
	margin: 0 auto;

}

.featured_icon {
	height: 75px;
	display: table-cell;
	padding: 0.25em;
	margin: 0 auto;
}

.social_bar {
	margin: 0 auto;
	display: table;
	box-sizing: border-box;
	vertical-align: middle;
	text-align: center;
}

.social_icon {
	height: 50px;
	display: table-cell;
	margin: 0 auto;
}

/* features */

.dropdown-menu {
	width: 200px;
	position: absolute;
	right: 0px;
	top: 80px;
	z-index: 1000;
	background-color: lightgray;
	text-align: center;
	display: hidden;
	z-index: -1;
}

.menu-icon {
	width: 40px;
	height: 40px;
	position: absolute;
	top:20px;
	right:30px;
	z-index: 1000;
	cursor: pointer;
	display: hidden;
}

.pixel_char:hover {
	cursor: pointer
}

#pixel_char_img {
	height: 50px;
}
